@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    background-color: beige;
    font-family: 'Poppins', sans-serif;
}

.title h1{
    background-color: rgb(95, 50, 50);
    color: white;
    padding: 15px;
    margin: 0;
}

li a {
    text-decoration: none;
    color:rgb(95, 50, 50);
    font-size: 20px;
}

.link-recipe { 
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    padding: 2em;
}

.link-title{
    text-decoration: none;

    color:rgb(95, 50, 50);
    font-size: 40px;
}

img{
    display: block;
    margin: auto;
}

.container-info{
    padding: 4em;
    font-size: 20px;
}